<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/new_password.css" type="text/css">
    <title>LeaveEase</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
        <center style="margin-top: 10px; border:1px solid rgb(184, 34, 179); width: 250px; height:30px; position:relative; left:40%; color:blueviolet; padding:5px; box-shadow:1px 5px 5px rgb(179, 46, 245); border-radius:20px;"><b>{{ message }}</b></center>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
    <div class="container">
        <div class="login-box">
            <form action="" method="post">
                <h2>Forgot Password</h2>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password"  required>
                </div>
                <div class="input-group">
                    <label for="confirm password">Confirm Password</label>
                    <input type="password" name="confirmpassword" id="confirmpassword" required>
                </div>
                <button type="submit">Submit</button>
            </form>
            <a href="{{url_for('facultylogin')}}"><button id="back-button" type="button">Back</button></a>
        </div>
    </div>
</body>
</html>