<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/verification.css">
    <title>LeaveEase</title>
</head>
<body>
    <div class="container">
        <img src="https://img.freepik.com/premium-vector/envelope-with-confirmed-document-icon-comic-style-verify-cartoon-vector-illustration-white-isolated-background-receive-splash-effect-business-concept_157943-13704.jpg" alt="Verification">
        <p>Verify your mail    !!!!!!!!!!!!!!!!!</p>
        <form action="" method="post">
            <label for="otp">OTP:</label>
            <input type="number" name="otp" id="otp" placeholder="OTP" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>