* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-box {
    width: 350px;
    height: 300px;
    padding: 20px;
    background: #fff;
    border-radius: 40px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.login-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: purple;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(189, 14, 189);
}



#back-button {
    position: relative;
    left: 0%;
    width: 100px;
    margin-top: 20px;
}
